</div>
    <div id="portfolio">
        <div><span class="arrow-down"></span></div>
        <div class="title">
            <h2>Our Latest Work</h2>
            <span class="byline">Integer sit amet pede vel arcu aliquet pretium</span> </div>
        <ul>
            <li class="current_item"><a href="#" class="image image-full"><img src="/img/pic01.jpg" alt="" /></a></li>
            <li><a href="#" class="image image-full"><img src="/img/pic02.jpg" alt="" /></a></li>
            <li><a href="#" class="image image-full"><img src="/img/pic03.jpg" alt="" /></a></li>
            <li><a href="#" class="image image-full"><img src="/img/pic04.jpg" alt="" /></a></li>
            <li><a href="#" class="image image-full"><img src="/img/pic05.jpg" alt="" /></a></li>
            <li><a href="#" class="image image-full"><img src="/img/pic06.jpg" alt="" /></a></li>
        </ul>
        <div class="content">
            <p>Aliquam sem leo, vulputate sed, convallis at, ultricies quis, justo. Donec nonummy magna quis risus. Quisque eleifend. Phasellus tempor vehicula justo. Aliquam lacinia metus ut elit. Suspendisse iaculis mauris nec lorem. Vestibulum suscipit volutpat nulla.</p>
            <div class="actions"> <a href="#" class="button button-big">Get Started</a> <a href="#" class="button button-big button-alt">Learn More</a> </div>
        </div>
    </div>
</div>
<div id="copyright">
    <p>Copyright (c) 2013 Sitename.com. All rights reserved. | Photos by <a href="http://fotogrph.com/">Fotogrph</a> | Design by <a href="http://www.freecsstemplates.org/" rel="nofollow">FreeCSSTemplates.org</a>.</p>
</div>
</body>
</html>
