<body>
<div id="logo" class="container">
    <h1><span class="icon icon-lock icon-size"></span><a href="#">API Commons</a></h1>
</div>
<div id="wrapper" class="container">
    <div id="menu" class="container">
        <ul>
            <li class="current_page_item"><a href="#" accesskey="1" title="">Home</a></li>
            <li><a href="#" accesskey="1" title="">FAQ</a></li>
            <li><a href="#" accesskey="2" title="">About</a></li>
            <li><a href="#" accesskey="3" title="">Contact</a></li>
            <li><a href="#" accesskey="4" title="">APIs</a></li>
        </ul>
    </div>