---
layout: default
title: Blog
---

{% assign blog_content = site.data.news_content.index[0] %}

<!-- Tools -->
<section>
  <header class="main">
    <h2>{{ blog_content.title }}</h2>
  </header>
  <p>{{ blog_content.header }}</p>
	{% capture nowunix %}{{'now' | date: '%s'}}{% endcapture %}
  {% for post in paginator.posts %}
	 	{% capture posttime %}{{post.date | date: '%s'}}{% endcapture %}
    {% if post.title != null %}
			{% if posttime < nowunix %}
        <h3><a href="{{ site.production_url }}{{ post.url }}">{{ post.title }}</a></h3>
        <span class="post-date">{{ post.date | date_to_string }}</span>
        {{ post.content }}
        <ul class="actions" style="text-align: center;">
          <li><a href="{{ site.production_url }}{{ post.url }}" class="button big">Details</a></li>
        </ul>
      	<center><hr style="width: 75%;" /></center>
				{% endif %}
    {% endif %}
  {% endfor %}

	<ul class="pagination" style="text-align: center;">
		<li style="text-align:left;"><a href="/blog/page{{paginator.previous_page}}" class="button disabled"><< Prev</a></li>
		<li style="width: 75%"><span></span></li>
		<li style="text-align:right;"><a href="/blog/page{{paginator.next_page}}" class="button">Next >></a></li>
	</ul>

	<p>{{ blog_content.footer }}</p>

</section>
