---
layout: default
---
<style>.gist-data { max-height: 500px; }</style>
<img src="{{ page.image }}" class="float-end ms-3 mb-3" width="100">
<h2>{{ page.title }}</h2>
<p>{{ page.description }}</p>
<h3>Tags</h3>
<ul>
{% for tag in page.tags %}
    <li>{{ tag }}</li>
{% endfor %}
</ul>
{% for api in page.apis %}
    {% for property in api.properties %}
        {% if property.type == 'GitHubGist' %}
        <h3>{{ api.name }}</h3>
        <p>{{ api.description }}</p>
        <script src="{{ property.url }}"></script>
        {% endif %}
    {% endfor %}
{% endfor %}

{% for api in page.apis %}
    {% for property in api.properties %}
        {% if property.type == 'GitHubRepository' %}
            <p class="text-center"><a href="{{ property.url }}"><strong>Visit this Base on GitHub</strong></a></p>
        {% endif %}
    {% endfor %}
{% endfor %}

<p class="text-center"><a href="/base/"><strong>Return to All Base Schema Page</strong></a></p>
<br>
