<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ site.name }} - {{ page.title }}</title>
    <link href="{{ site.url }}/assets/bootstrap.min.css" rel="stylesheet">
    <link href="{{ site.url }}/assets/sticky-footer.css" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="#">{{ site.name }}</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{{ site.url }}/">Home</a>
            </li>   
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="https://apisjson.org" target="_blank">APIs.json</a>
            </li>             
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{{ site.url }}/common/">Common</a>
            </li> 
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{{ site.url }}/community/">Community</a>
            </li> 
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{{ site.url }}/overlays/">Overlays</a>
            </li>  
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{{ site.url }}/base/">Base</a>
            </li>   
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{{ site.url }}/blueprints/">Blueprints</a>
            </li>                          
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{{ site.url }}/about/">About</a>
            </li>                                                                             
          </ul>
        </div>
      </div>
    </nav>
    <!--
    <div class="alert alert-danger" role="alert" style="text-align: center;">
      This Search is Exploratory -- <a href="https://github.com/api-search/explore/issues">Submit An Issue With Any Questions</a>!
    </div>
    -->
    <div class="container my-5">
      {{ content }}
    </div>

    <script src="{{ site.url }}/assets/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="{{ site.url }}/assets/js-yaml.min.js"></script>

    <footer class="footer">
      <div class="container">
        <table cellspacing="3" cellpadding="2" align="center">
          <tr>
            <td><a href="https://apis.io" style="color: #000;">APIs.io</a></td>
            <td>|</td>
            <td><a href="https://apisjson.org" style="color: #000;">APIs.json</a></td>
            <td>|</td>
            <td><a href="https://github.com/api-commons/api-commons/issues" style="color: #000;">Issues</a></td>
            <td>|</td>
            <td><a href="blog/" style="color: #000;">Blog</a></td>
            <td>|</td>
            <td><a href="mailto:team@apis.io" style="color: #000;">Email</a></td>
          </tr>
        </table>
      </div>
    </footer>

  </body>
</html>